.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Manrope";
}

.nav__container h2 {
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    font-weight: 600;
}
.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    cursor: pointer;
}

.nav__list li {
    text-align: center;
    margin: 2rem;
}

a {
    color: #FFFFFF;
    text-decoration: dotted;
}

.btn__container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 2px;
}

.btn__container a {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

.signup__btn {
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: center;
    background-color: #FF4820;
    height: 58px;
    width: 142px;
    border-radius: 5px;
    margin: 1rem;
}