.flex__future__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10rem;
    padding-top: 6rem;
    height: 431px;
    width: 1154px;
}
.future__container {
    font-family: "Manrope";
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.future__container h2 {
    height: 180px;
    width: 426px;
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    text-align: left;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.future__container p {
    text-align: left;
    color: #FF8A71;
}
