.GPT__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.company__logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.logo {
    margin: 2rem;
    margin-top: 4rem;
}